<div>
    <main class="tlp-framed-vertically">
        <h1 class="tlp-framed-horizontally">Annonces</h1>
        <nav class="tlp-tabs">
            <a href="javascript:;" class="tlp-tab">NOUVELLE</a>
            <a href="javascript:;" class="tlp-tab">GESTION</a>
            <a href="javascript:;" class="tlp-tab">CONSEILS</a>

        </nav>
        <div class="tlp-framed-horizontally">
            <section class="tlp-pane">
                <div class="tlp-pane-container">
                        <table class="tlp-table" id="my-table">
                            <thead>
                            <tr>
                                <th class="tlp-table-cell-filterable">titre</th>
                                <th class="tlp-table-cell-filterable">Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tlp-table-empty-filter">
                                <td colspan="5" class="tlp-table-cell-empty">
                                    There isn't any matching news
                                </td>
                            </tr>
                            <tr>
                                <td class="tlp-table-cell-filterable">News 1</td>
                                <td class="tlp-table-cell-filterable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline" href="javascript:;">
                                        <i class="fa fa-pencil "></i> edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tlp-table-cell-filterable">News 8</td>
                                <td class="tlp-table-cell-filterable">sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet,  adipisicing elit consectetur adipisicing elit.</td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline" href="javascript:;">
                                        <i class="fa fa-pencil "></i> edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tlp-table-cell-filterable">News 149</td>
                                <td class="tlp-table-cell-filterable">ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur  adipisicing elit adipisicing elit.</td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline" href="javascript:;">
                                        <i class="fa fa-pencil "></i> edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tlp-table-cell-filterable">News 54</td>
                                <td class="tlp-table-cell-filterable">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline" href="javascript:;">
                                        <i class="fa fa-pencil "></i> edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tlp-table-cell-filterable">News 12</td>
                                <td class="tlp-table-cell-filterable">consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline" href="javascript:;">
                                        <i class="fa fa-pencil"></i> edit
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <script>
                            tlp.filterInlineTable(document.getElementById('filter-table'));
                        </script>

                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
