<div>
    <main class="tlp-framed-vertically">
        <h1 class="tlp-framed-horizontally">NEWS</h1>
        <div class="tlp-framed-horizontally">
            <section class="tlp-pane">
                <div class="tlp-pane-container">
                    <section class="tlp-pane-section">
                        <div class="tlp-table-actions">
                            <button type="button" class="tlp-button-primary tlp-table-actions-element">
                                <i class="tlp-button-icon fa fa-plus"></i>
                                Add News
                            </button>
                        </div>
                        <table class="tlp-table" id="my-table">
                            <thead>
                            <tr>
                                <th class="tlp-table-cell-filterable">titre</th>
                                <th class="tlp-table-cell-filterable">Description</th>
                                <th class="tlp-table-cell-filterable">Edition</th>
                                <th class="tlp-table-cell-filterable"></th>
                                <th class="tlp-table-cell-filterable">Widget</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tlp-table-empty-filter">
                                <td colspan="5" class="tlp-table-cell-empty">
                                    There isn't any matching news
                                </td>
                            </tr>
                            {{# list_of_news }}
                            <tr>
                                <td class="tlp-table-cell-filterable">{{ title }}</td>
                                <td class="tlp-table-cell-filterable">{{ content }}</td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline"
                                       href="/project/{{project_id}}/news/{{ id }}">
                                        <i class="fa fa-pencil "></i> edit
                                    </a>
                                </td>
                                <td class="tlp-table-cell-actions">
                                    <a class="tlp-table-cell-actions-button tlp-button-small tlp-button-primary tlp-button-outline"
                                       href="/project/{{project_id}}/news/{{ id }}">
                                        <i class="fa fa-trash"></i> supprimer
                                    </a>
                                </td>
                                <td class="tlp-table-cell-actions">
                                <div class="tlp-form-element">
                                    <div class="tlp-switch">
                                        <input type="checkbox" id="toggle" class="tlp-switch-checkbox">
                                        <label for="toggle" class="tlp-switch-button" aria-hidden="false"></label>
                                    </div>
                                </div>
                                </td>

                            </tr>
                            {{/ list_of_news }}
                            </tbody>
                        </table>
                        <script>
                            tlp.filterInlineTable(document.getElementById('filter-table'));
                        </script>
                    </section>
                </div>
            </section>
        </div>
    </main>
</div>
